#
# Copyright (c) 2022 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

source "Kconfig.zephyr"

menu "SURAG BLE Tester App"

config BT_THROUGHPUT_FILE
	bool "BT file based throughput"
	default y

config BT_THROUGHPUT_DURATION
	int "Throughput test duration in milliseconds"
	default 20000

endmenu